.settingsPage {
  padding: 1rem;
  padding-bottom: 4rem;
}

.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.settingItem:last-child {
  border-bottom: none;
}

.dark .settingItem {
  border-bottom-color: #3c4245;
}